<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.platform.com.auth.mapper.UmsDictItemMapper">


    <delete id="deleteByDictId" parameterType="int">
        delete from ums_dict_item where dict_id = #{dictId}
    </delete>
</mapper>
